
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
    border: none;
}
nav {
    display: flex;
    align-items:center ;
    justify-content: space-between;
    margin:40px 90px ;

}
.nav-title {
    font-weight: bold;
    font-size: 45px;
}
.text-primary {
    color:#4E47FF;
}
nav ul li {
    list-style: none;
}
.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border: none;
}
.banner-title {
    text-align: center;
    font: bold;
    width: 905px;
    height: 237px;
}
.header {
    background-image: url('../Assets/Hero-bg.png');
}
.image-greetings {
    height: 49px;
    width: 298px;

}
.image-profile-pic {
    width: 328px;
    height: 403;
    border-radius:48px ;
}
. image {
    max-width:580px ;
    display: flex;
}
.image-contace {
    display:flex;
    justify-content: space-between;
    margin: 0 150px 0 150px;
}

.section-title {
    font-size: 38px;
    font-weight: bold;
    color: #252432;
    /* padding-top: 200px; */
}
.secondary-bg {
    background-color:#FFEBEB;
}
.about {
    border-radius: 24px;
    text-align: center;
    padding: 130px 150px;
    margin-top: 130px;
}
main {
    max-width: 1140px;
    margin: 0 auto;
    height: 306;
}
.about-items {
    display: flex;
    justify-content: space-around;
}
.item-title {
    color: #4E47FF;
    font-size: 80px;
    font-weight: bold;
}
.item-description {
    font-size: 20px;
}
.text-center {
    text-align: center;
}
.users-container {
    display: flex;
    gap: 24px;
}
.user-description {
    padding: 30px;
}
.about-me {
    border-radius: 24px;
    text-align: center;
    padding: 130px 150px;
    margin-top: 130px;
}
.khan {
    height: 60px;
    width: 516px;
}
footer {
    padding: 130px 230px;
    display: flex;
}
.footer-colum {
    width: 50%;
}
footer input [type="text"],  footer input [type="email"],  footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    margin-bottom: 24px;
    border: none;
}
.every {
    text-align: center;

}
.every-items {
    display: flex;
    justify-content: space-around;
}
.every-title{
    color: #4E47FF;
    